body{
    background:rgb(226, 211, 143);
}

.container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(206, 201, 201);
    border: 4px black solid;
    display: block;
    justify-content: center;
    margin: auto;
    width: 800px;
}

.titulo{
    padding-left: 330px;
}

.tbody1{
    margin: 5px;
}

#inputTarea{
    margin-left: 300px;
}

.btn{
    background-color: aquamarine;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.btn:hover{
    background: rgb(226, 211, 143);
    border:2px solid white;
}

.form-control{
    background-color: aliceblue;
    border: 1px solid black;
}

.form-control:hover{
    background-color: rgb(212, 253, 251);
}

.form-control:focus{
    background-color: rgb(212, 253, 251);
}

.table{
    text-align: center;
}

.eliminar:hover{
    background: rgb(221, 62, 62);
    color: white;
    border: 2px solid white ;
}

.EliminarTarea:hover{
    background: rgb(221, 62, 62);
    color: white;
    border:2px solid white;
}

.agregarSubList:hover{
    background: rgb(226, 211, 143);
    border:2px solid white;
}

.actualizarSubList:hover{
    background: rgb(226, 211, 143);
    border:2px solid white;
}

.editar:hover{
    background: rgb(173, 255, 251);
    border:2px solid white;
}
